<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h1>Hello!</h1>

<% unless user_signed_in? -%>
  <p><%= link_to 'Sign in as User', new_user_session_path %></p>
<% end -%>

<% if user_signed_in? -%>
  <p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
<% end -%>

<p>Hello World!</p>
<%= @test %>